<script src="~/Content/site/js/gridview/main.js"></script>
<div style="width:99%; text-align:right">
    <h3>GridView</h3>
</div>
<div style="width:99%; margin:0px auto">
    <div id="gridContainer"></div>
</div>
